*{
	margin:0;
	padding:0;
}
a {
	font-family: Garamond, serif;
	font-size:20px;
	text-shadow:5px 5px 10px #045286;;
}

.main {
	margin:0;
	padding:0;
}
/** HeaderStart**/
.header {
	width:100%;
	height:80px;
	overflow:hidden;
}
.logo{
	float:left;
	padding-left:50px;
	display:block;
}
.header-right {
	height:80px;
	padding-right:30px;
	overflow:hidden;
}

.header-right ul{
	list-style-type:none;
	margin-top:15px;
	overflow:hidden;
}
.header-right ul li  {
	padding:8px;
	float:right;
	display:in-block
}
.header-right ul li a {
	display:inline-block;
	padding:15px 10px 10px;
	text-decoration:none;
	background-color:#2980b9;
	border-radius:5px;
	color:white;
	box-shadow:5px 5px 10px #A9A9A9;
	
}
.header-right ul li a:hover {
	background-color:#045286;
}
.profile-icons {
	
}


.header:after {
  content: "";
  clear: both;
  display: table;
}
/* Header end */

/* Nav menu start*/
.navbar{
	background-color:#045286;
	border-bottom:1px solid #ddd;
	height:53px;
	
}
.navbar ul{
	height:auto;
	list-style-type:none;
	padding:0px 30px;
	margin:auto;
	
}
.navbar ul li {
	float:left;
	weight:100%;
	
	
	
}
.navbar ul li a:not(.contact){
	display:block;
	text-decoration:none;
	padding:15px 20px;
	color:white;
	border-right:1px solid #ddd;
}

.contact{
	display:block;
	text-decoration:none;
	padding:15px 20px;
	color:white;
}

.navbar ul li a:hover {
	background-color:#d35400;

}
.navbar {
	position:sticky;
}
/* Nav menu end*/

/* Slider*/
.slider img {
	width:100%;
	
}
/* Content start */
.main-title {
	text-align:center;
	margin-top:70px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	padding:5px 5px;
	border-bottom:3px solid #d35400;
	width:150px;
	font-family: Verdana, sans-serif;
	font-size: 16px;

	
	
	
}
.our-service {
	width:100%;
	display:flex;
	margin:auto;
	overflow:hidden;
	justify-content:center;
	
}

.service {
	overflow:hidden;
	margin:5px;
	height:250px;
	width: 300px;
	position:relative;
}
.service h2{
	position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
	z-index:1;
	font-family: Helvetica, sans-serif;
	font-size: 17px;
	color:#d35400;
	font-weight:bold;
}

.service img{
	
	border-radius:10px;
	transition: all 0.5s ease;

}

.service img:hover {
	filter: brightness(20%);
}

.tour-package {
	width:100%;
	height:420px;
	display:flex;
	margin:auto;
	overflow:hidden;
	justify-content:center;
	
}
.package{
	margin:15px;
	background-color:#045286;
	overflow:hidden;
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	
}
.packimg {
	height:250px;
	width:300px;
	overflow:hidden;
	cursor: pointer;
}
.package img {
	transition: transform .5s;
	

}
.package img:hover{
	transform: scale(1.1);
	
	
	
}
.package-content  {
	padding-top:10px;
	margin:auto;
	text-align:center;
	overflow:hidden;
	padding:5px;
}
.package-content h3 {
	font-weight:bold;
	display:block;
	color:#ffffff;
	font-family: Helvetica, sans-serif;
	float:left;
}
.package-content p {
	font-weight:bold;
	display:block;
	float:right;
	color:#ffffff;
	font-family: Helvetica, sans-serif;

}

.btn {
	clear:both;
	text-decoration: none;
	display:block;
	font-size: 16px;
	border:2px solid #d35400;
	border-radius:5px;
	text-align: center;
	color:white;
	margin:70px auto;
	padding: 12px 15px;
	cursor: pointer;
	background:#045286;
}
.btn:hover{
	background-color:#d35400;
}
.tour-package:after {
	content: "";
    display: table;
	clear: both;
}
	
.other-content{
	width:80%;
	margin-top:120px;
	margin-left:auto;
	margin-right:auto;
}
.sub-title {
	text-align:center;
	
}
.customer {
	width:45%;
	height:200px;
	float:left;
	overflow:hidden;

}
.customer-img {
	display:flex;
	justify-content:center;
}
.customer img{
	padding:4px;
}

.sidebar {
	width:30%;
	height:200px;

	border:1px soid #ddd;
	float:right;
}
.sidebar-img {
	display:flex;
	justify-content:center;
}
.sidebar img{
	padding:2px;
}

.other-content:after {
  content: "";
  display: table;
  clear: both;
}

/* Content End */

.footer {
	width:100%;
	padding:20px 0px;
	background-color:#2980b9;
	text-align:center;
	
}

	
.footer p a{
	text-decoration:none;
	color:#282828;
	font-weight:bold;
}


